@import url("https://fonts.googleapis.com/css?family=Merriweather:300,900|Six+Caps");

/* custom web app colors declared at root level*/
:root {
  /* colors */
  --primary-color: #e9d20f;
  --black: #252525;
  --white: rgba(100%, 100%, 100%, 0.9);
  --light-gray: #a19e9f;

  /* fonts */
  --six-caps-font: "Six Caps", sans-serif;
  --merri-weather-font: "Merriweather", serif;
  --very-large-font-size: 64px;
  --large-font-size: 32px;
  --medium-font-size: 16px;
  --small-font-size: 8px;

  --thick-font-weight: 700;
  --medium-font-weight: 300;
  --thin-font-weight: 100;
}

.landing-container {
  display: grid;
  background: var(--primary-color);
  grid-template-rows: 15vh 85vh 100vh 100vh 5vh;
  grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
}

.landing-hero {
  font-family: var(--six-caps-font);
  font-size: 30em;
  color: var(--black);
  grid-row: 2/3;
  grid-column: 1 / 6;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.landing-content-main {
  font-family: var(--merri-weather-font);
  background-color: white;
  grid-row: 3/4;
  grid-column: 1/6;
  display: flex;
  flex-direction: column;
  width: 100vw;
  justify-content: center;
  align-items: center;
  font-size: 5em;
  font-weight: 100;
}

.landing-content-main > h1 {
  font-size: 3em;
  padding-bottom: 0.5em;
}

.landing-content-main > p {
  width: 50%;
}

.landing-content-secondary {
  font-family: var(--merri-weather-font);
  font-size: 5em;
  font-weight: 100;
  line-height: 2em;
  background-color: var(--primary-color);
  grid-row: 4/5;
  grid-column: 1/6;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 100px;
}

.landing-content {
  display: grid;
  grid-template-rows: 1fr 2fr 3fr;
}

.landing-content-secondary h1 {
  font-size: 1.5em;
  text-align: center;
  padding: 20px;
}

.landing-content-secondary > .landing-content {
  font-size: 1em;
  text-align: center;
  padding: 20px;
}

.landing-icon {
  text-align: center;
  border-radius: 50%;
}

.landing-footer {
  background: var(--black);
  color: var(--primary-color);
  font-size: 4em;
  grid-row: 5/6;
  grid-column: 1/6;
  display: flex;
  width: 100vw;
  justify-content: center;
  align-items: center;
}
