@import url("https://fonts.googleapis.com/css?family=Merriweather:300,900|Six+Caps");

/* custom web app colors declared at root level*/
:root {
  /* colors */
  --primary-color: #e9d20f;
  --black: #252525;
  --white: rgba(100%, 100%, 100%, 0.9);
  --light-gray: #a19e9f;

  /* fonts */
  --six-caps-font: "Six Caps", sans-serif;
  --merri-weather-font: "Merriweather", serif;
  --extra-small-font-size-mobile: 6px;

  --thick-font-weight: 700;
  --medium-font-weight: 300;
  --thin-font-weight: 100;
}

html,
body {
  font-family: var(--merri-weather-font);
  font-size: 0.5em;
}
.container {
  display: grid;
  background: var(--primary-color);
  grid-template-rows: minmax(15vh, 15vh) 85vh 100vh 100vh 5vh;
  grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
}
.nav {
  background: var(--black);
  grid-row: 1 / 2;
  grid-column: 1 / 6;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.nav-item {
  color: var(--primary-color);
  font-size: 5.5em;
  line-height: 10px;
  font-weight: var(--medium-font-weight);
  position: relative;
  cursor: pointer;
}

.nav-item::before {
  content: "";
  position: absolute;
  display: block;
  height: 3px;
  background: var(--primary-color);
  width: 0%;
  top: 250%;
  transition: all ease-in-out 100ms;
}

.nav-item:hover::before {
  width: 100%;
}

.hero {
  font-family: var(--six-caps-font);
  font-size: 30em;
  color: var(--black);
  grid-row: 2/3;
  grid-column: 1 / 6;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.content-main {
  font-family: var(--merri-weather-font);
  background-color: white;
  grid-row: 3/4;
  grid-column: 1/6;
  display: flex;
  width: 100vw;
  justify-content: center;
  align-items: center;
  font-size: 5em;
  line-height: 2em;
  font-weight: 100;
}

.content-main > p {
  width: 50%;
}

.content-secondary {
  font-family: var(--merri-weather-font);
  font-size: 5em;
  font-weight: 100;
  line-height: 2em;
  background-color: var(--primary-color);
  width: 100vw;
  grid-row: 4/5;
  grid-column: 1/6;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.content-secondary h1 {
  font-size: 1.5em;
  padding-top: 20px;
}

.content-secondary p {
  font-size: 1em;
}

.footer {
  background: var(--black);
  color: var(--primary-color);
  font-size: 4em;
  grid-row: 5/6;
  grid-column: 1/6;
  display: flex;
  width: 100vw;
  justify-content: center;
  align-items: center;
}
