:root {
  /* colors */
  --primary-color: #e9d20f;
  --primary-color-darker: #b6b10b;
  --black: #252525;
  --white: rgba(100%, 100%, 100%, 0.9);
  --gray: rgba(0, 0, 0, 0.6);
  --light-gray: #e0e1e2;

  /* fonts */
  --six-caps-font: "Six Caps", sans-serif;
  --merri-weather-font: "Merriweather", serif;
  --very-large-font-size: 64px;
  --large-font-size: 32px;
  --medium-font-size: 16px;
  --small-font-size: 8px;

  --thick-font-weight: 700;
  --medium-font-weight: 300;
  --thin-font-weight: 100;
}

a {
  text-decoration: none;
  margin: 0 auto;
  padding: 0 auto;
}

.card-container {
  background: #e0e1e2;
  margin: 10px;
  padding: 10px;
  height: 100%;
  width: 100%;
  box-shadow: 1px 2px 5px var(--light-gray);
  display: flex;
  flex-direction: column;
  transition: all ease-in-out 200ms;
  cursor: pointer;
}

.card-container:hover {
  box-shadow: 0px 0px 0px var(--light-gray);
}

.card-title {
  color: var(--black);
  font-size: 20px;
  font-weight: var(--thin-font-weight);
  margin: 20px;
}

.card-content {
  color: var(--black);
  font-size: 12px;
  font-weight: 100;
  margin: 0 0 0 20px;
  padding: 0;
}
